@model PaginatedList<Bill>

<table style="width:100%" id="myTable">
    <tr>
        <th>CODE</th>
        <th>CREATED IN</th>
        <th>CHECKED IN</th>
        <th>PRICE</th>
        <th>PAYMENT</th>
        <th>STATUS</th>
        <th>PAID</th>
        <th>PROCESSED BY</th>
    </tr>
    @foreach (var bill in Model)
    {
        <tr>
            <td>@bill.Id</td>
            <td>@bill.Exported_Date</td>
            <td>@bill.Checked_Date</td>
            <td>@bill.Price</td>
            <td>@bill.Payment</td>
            <td>@bill.Status</td>
            <td>@bill.Paid</td>
            <td>@bill.Accountant_Id</td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
        <a href="/Product/Index/@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">PREVIOUS</a>
    </div>
    <div class="col-lg-2">
        <a href="/Product/Index/@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">NEXT</a>
    </div>
    <div class="col-lg-4"></div>
</div>